# Python Basics

## Casting

In [18]:
print(type("hello")) #str
print(type(10.5)) #float
print(type(10)) #int
print(type(True)) #bool

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [19]:
# change float to int
size = 16.2
print(int(size))

16

In [4]:
# Sometimes we need to convert values to perform particular operations, such as using numerical values in strings.
position = 5
message = "You are number " + position + "in the queue"

TypeError: can only concatenate str (not "int") to str

In [5]:
position = 5
message = "You are number " + str(position) + " in the queue"
print(message)

You are number 5 in the queue

In [7]:
number = 9.99
print(int(number)) #int rounds numbers down always

9

In [8]:
choices = ['pizza', 'kebab', 'burger', 'pizza']

unique = set(choices) #set conversion identifies unique values in variable
print(unique)

{'burger', 'kebab', 'pizza'}

In [12]:
# The dict() function can take a list of tuples and create a dictionary from them
users = dict([
    ('James', 25), 
  ('Amanda', 19), 
  ('Mark', 33)])

print(users)

{'James': 25, 'Amanda': 19, 'Mark': 33}

In [15]:
# The tuple() function can take a list and create a tuple from them
users = tuple(['James', 25,'Amanda', 19, 'Mark', 33])

print(users)

('James', 25, 'Amanda', 19, 'Mark', 33)

## Functions

### Local Scope

In [1]:
def create_email(name): # function name is create_email and the paramter is name 
  return name + "@yahoo.co.uk"

email = create_email("jordanstevens1992")
print(email)

jordanstevens1992@yahoo.co.uk

In [2]:
# With a local scope, we can only access or update the variable within the function that created it
# try to update/access the variable outside the function block spits out an error
def add_bonus(salary):
 bonus = 100 # variable = bonus
 print(salary + bonus)

print(bonus) # error is this indentation as its outside the function block
add_bonus(1900)

NameError: name 'bonus' is not defined

In [3]:
# With a local scope, we can only access or update the variable within the function that created it
def add_bonus(salary):
 bonus = 100
 bonus = 200 # update variable here
 print(salary + bonus)

add_bonus(1900)

2100

In [8]:
def apply_discount(price):
  discount = 20 # variable = discount
  discount = 10
  return price - discount #we use return to update the values

final_price = apply_discount(50)
print(final_price)

40

### Global Scope

In [4]:
#Variables created outside of a function block have a global scope, like shipping here.

shipping = 10 #shipping is outside the local scope
def calculate_total(cart):
 print(cart + shipping)

calculate_total(54)

64

In [17]:
single_player = True # variable single_player is outside the local scope

if single_player:
 player_1 = "Mario"
print(f"Player 1: {player_1}")

Player 1: Mario

In [18]:
rent=1000 # rent is outside the local scope
def calculate_spendings(groceries): #groceries is the parameter 
  print(f"Total {rent + groceries}")

print(f"Rent {rent}")
calculate_spendings(300)

Rent 1000
Total 1300

### deciding with functions

In [21]:
def add_shipping(cart): # function add_shipping and cart is the parameter
  if cart < 100:
    print(f"Total: {cart + 10}")
  else:
    print(f"Total: {cart}")

add_shipping(45)
add_shipping(200)

Total: 55
Total: 200

In [19]:
def show_progress(points):
  if points > 1000:
    print("New highest score!")  
  print("Ready for the next level?")
show_progress(900)

Ready for the next level?

###  functions with lists

In [22]:
def is_multiplayer(players): #function identifes if there are 2 players
  print(len(players) == 2) #there are 2 players in players so this prints true

players = ["Amy", "Jay"]
is_multiplayer(players)

True

In [23]:
def display_programme(movies): # here the parameter movies stores the elements in movie list whihc is part of the display programme function
  print(f"Airing tonight: {movies}") 

movie_list = ["Alien", "Moon"]
display_programme(movie_list) # Pass the movie_list to the function by coding its name between the function's parentheses.

Airing tonight: ['Alien', 'Moon']

In [ ]:
# Here, the parameter movies will store the elements in movie_list, since that's the value we call the function with.
def display_programme(movies):
  print("Airing tonight:")
  print(movies)

movie_list = ["Alien", "Moon"]
display_programme(movie_list)

In [24]:
def count_passengers(passengers): # here the parameter passengers will store the number of passengers in passengers
  print(len(passengers)) # stores the numbe of passengers

passengers = ["June", "Sam", "Lee"]
count_passengers(passengers)

3

In [29]:
def get_winner(top_players): # here the parameter top_players finds the first elemts in top_players which is jay
  winner = top_players[0]

  print(f"Game winner: {winner}")

top_players = ["Jay", "Meg", "Cy"]
get_winner(top_players)

Game winner: Jay

In [38]:
# updates the leaderboard to inc Lena first
def update_first_place(leaderboard, player): # parameters = 2, leaderboard and player
    leaderboard[0] = player  
    return leaderboard #  After updating one or more of a list's indices, the function can return the updated list, like here with leaderboard.

leaderboard = ["Jay", "Meg", "Cy"]
leaderboard = update_first_place(leaderboard, "Lena") #we've identified player paramter as Lena here
print(leaderboard)

['Lena', 'Meg', 'Cy']

In [39]:
def get_newest_value(values):
  print(values[0])

humidity_percent = [50, 43, 49]
get_newest_value(humidity_percent)

50

###  functions with loops

In [3]:
def onboard_passengers(bookings): #bookings is the parameter 
  counter = 1
  while counter <= bookings:
    print(f"Passenger {counter} on board")
    counter += 1

onboard_passengers(4) #input arguement which we pass into the function where passengers = 4 so code runs 4 iterations

Passenger 1 on board
Passenger 2 on board
Passenger 3 on board
Passenger 4 on board

In [6]:
def display_progress(total_files): #here the parameter total_files takes value 3 which represents i and total files
  
    for i in range(total_files):
        print(f"Downloading file {i} out of {total_files}")

display_progress(3)

Downloading file 0 out of 3
Downloading file 1 out of 3
Downloading file 2 out of 3

In [12]:
def do_countdown(counter): # function = do_countdown, paramter = counter
  
    while counter > 0:
        print(counter)
        counter -= 1
    print("Go!")  

do_countdown(3)

3
2
1
Go!

In [17]:
def show_progress(total):
  
    for i in range(total):
        print(f"Installing next update")

show_progress(3)

Installing next update
Installing next update
Installing next update

###  Tuples

In [2]:
movies = ["Vertigo", "Parasite", 
          1958, 2019] #list not a tuple as it has square brackets not parentheses

movie_tuples = [("Vertigo", 1958) ,("Parasite", 2019)] #group tuples
print(movies)
print(movie_tuples)

['Vertigo', 'Parasite', 1958, 2019]
[('Vertigo', 1958), ('Parasite', 2019)]

In [7]:
vertigo_data = ("Vertigo", 1958, "A. Hitchcock") # they can have as many values as you want
print(vertigo_data)

('Vertigo', 1958, 'A. Hitchcock')

In [6]:
scores = [("mia", 75), ("lee", 90)] #store tuples as a list
mia_score = scores[0]
print(len(scores))
print(scores)
print(mia_score)

2
[('mia', 75), ('lee', 90)]
('mia', 75)

In [8]:
scores = [("mia", 75), ("lee", 90)]
for user_score in scores:
 print(f"Result: {user_score}")

Result: ('mia', 75)
Result: ('lee', 90)

In [14]:
event_tuple = ("Saturday", "21:00", "Anna's Bday")
print(event_tuple[1])#access the second element of a tuple but we cannot delete, add or update values from tuples
event_tuple.pop(2)  #trying to delete the 3 element in tuple
print(event_tuple)

21:00

AttributeError: 'tuple' object has no attribute 'pop'

In [15]:
event_tuple = ("Saturday", "21:00", "Anna's Bday")
event_tuple[0] = "Friday" #tuples are immutable since trying to modify them results in an error
# hence we use tuples to store inforamtion that shouldn't be modified!!!!

TypeError: 'tuple' object does not support item assignment

In [16]:
jupiter = ("61.42 billion km2", "79 moons")
print(f"surface area: {jupiter[0]}") # accessign the 1st tuple by its index

surface area: 61.42 billion km2

In [18]:
moon_count = [("earth", 1), ("jupiter", 79)]

i = 0
while i < len(moon_count):
  print(moon_count[i])
  i += 1

('earth', 1)
('jupiter', 79)

###  Dictionaries

In [19]:
# To associate a meaning to each value in a collection of values, we use a data structure called a dictionary, like locations here.
# curly brackets = dictionary
# round brackets = tuple
# sqaure brackets = list

locations = {
      "headquarters": "New York",
      "flagship": "Paris"
}

print(locations)

{'headquarters': 'New York', 'flagship': 'Paris'}

In [25]:
# dictionaries contain key-value pairs
# key : value

car_data = {
 "brand": "mini",
 "year": 2015,
 "service": ["2017", "2019"],
 "rented": False,
 "current_value" : "15,789gbp"
}

print(car_data)

{'brand': 'mini', 'year': 2015, 'service': ['2017', '2019'], 'rented': False, 'current_value': '15,789gbp'}

In [26]:
members_count = {
("Sai", "Chloe", "Yumi"): 3 #key = tuple : value = string
}

print(members_count)

{('Sai', 'Chloe', 'Yumi'): 3}

In [27]:
winner_scores = { 
    "first": ("Ted", 50), #key = string : value = tuple
  "second": ("Jess", 47)
}

print(winner_scores)

{'first': ('Ted', 50), 'second': ('Jess', 47)}

In [16]:
# We access dictionary values by their key, like here with  "name".

actor_bio = {
 "name": "Bill Murray",
 "known for": ["Lost in Translation", "Rushmore"]
}
print(actor_bio["name"])

Bill Murray

In [17]:
# loop through dictionaires
player_scores = {
 "ann": 13,
 "michael": 20,
 "ava": 34
}

for player in player_scores:
  print(player_scores[player])

13
20
34

In [19]:
# update dictionary values
ticket = {
 "seat no.": 25,
 "first class": False
}
print(ticket)
ticket["first class"] = True
print(ticket)

{'seat no.': 25, 'first class': False}
{'seat no.': 25, 'first class': True}

In [ ]:
# Create the variable meg that stores the value of the key "Meg".

participants = {
  "Meg": True,
  "Kim": False,
  "Luis": True,
  "Luis M.": False
}
meg = participants["Meg"]
print(meg)

In [21]:
# add a key

ticket = {
 "seat no.": 25}

ticket["window"] = True # window added
print(ticket)

{'seat no.': 25, 'window': True}

In [22]:
# check if key exists in dicitionary 
personal_data = {
 "name": "Mac Miller",
 "telephone": "0047865791"
}
print("name" in personal_data)

True

In [23]:
# store info whether address is in dicitonary in a variable like has_address
personal_data = {
 "name": "Mac Miller",
 "telephone": "0047865791"
}
has_address = "address" in personal_data #create variable to see if dictionary has address in it
print(has_address)

False

In [ ]:
# remove key value pair with variable.pop(key_name)
ticket = {
 "seat no.": 25,
 "window": True
}

ticket.pop("window")
print(ticket)

In [3]:
# To avoid getting an error when removing a key, it's good practice to first use the in keyword to check if the key exists.

ticket = {
 "seat no.": 25,
 "window": True
}

if "destination" in ticket:
  ticket.pop("destination")

print(ticket)

{'seat no.': 25, 'window': True}

In [4]:
# sets is a collection of values that are unique (no duplicates)
postcode = {"WD6", "HA7", "NW11"}
print(postcode)

{'WD6', 'HA7', 'NW11'}

In [6]:
# add value to a set we use variable_name.add()
postcode = {"WD6", "HA7", "NW11"}
postcode.add("SL6")
print(postcode)

{'WD6', 'HA7', 'NW11', 'SL6'}

In [7]:
# nothing happens when we try to add a duplicate value to an existing set
postcode = {"WD6", "HA7", "NW11"}
postcode.add("WD6")
print(postcode)

{'WD6', 'HA7', 'NW11'}

In [9]:
# Unlike lists, sets like answer_options are unordered, meaning that set elements don't have indices.
user_answers = ["yes", "yes", "no", "yes"]
print(user_answers[0])
answer_options= {"yes", "no"}
print(answer_options)

yes
{'no', 'yes'}

In [10]:
answer_options = {"yes", "no"}

for answer in answer_options:
 print(f"Option: {answer}")

Option: no
Option: yes

In [11]:
# remove a value in the set
classes = {"Geometry", "Music", "French"}
classes.remove("Music")
print(classes)

{'French', 'Geometry'}

In [ ]:
# using set in print function removes the duplicate value
grocery_list = ["broccoli", "cereal", "milk", "broccoli"]
print(set(grocery_list))

In [12]:
# To check whether a set like chat is a subset of another, like friends, we code chat, then .issubset(), with friends between parentheses.
friends = {"Emma", "Jen", "Rob", "Ed"}
chat = {"Jen", "Ed"}
print(chat.issubset(friends))

True

In [15]:
# While union() gives us all elements of the two sets, intersection() gives us only the common ones.

classmates = {"Sue", "Luke", "Paul"}
friends = {"Don", "Sue", "Luke"}

print("Union:")
print(classmates.union(friends))

print("Intersection")
print(classmates.intersection(friends))

Union:
{'Don', 'Paul', 'Sue', 'Luke'}
Intersection
{'Sue', 'Luke'}

In [1]:
# To get a set of elements that are present in classmates, but not in friends, we use the difference() instruction. (left match)
classmates = {"Sue", "Paul"}
friends = {"Don", "Sue"}

print(classmates.difference(friends))

# right match i.e. present in friends not classmates
print(friends.difference(classmates))

{'Paul'}
{'Don'}

###  List comprehensions

In [6]:
# To create a list like halved based on another like prices, we need to first create an empty list, then fill it inside a loop.
prices = [10, 38, 40, 58, 62]
halved_loop = []

for price in prices:
  half_price = price/2
  halved_loop.append(half_price)

print(halved_loop)

[5.0, 19.0, 20.0, 29.0, 31.0]

In [3]:
#  We can build the same halved list as before, but in one line, using list comprehensions.
prices = [10, 38, 40, 58, 62]

halved_list_comp = [price/2 for price in prices]
print(halved_list_comp)

[5.0, 19.0, 20.0, 29.0, 31.0]

In [ ]:
# List comprehensions use for loops to iterate through each element of the original list, like here with for price in prices.
prices = [10, 38, 40, 58, 62]

halved = [price/2 for price in prices]

print(halved)

In [7]:
answers = [True, False, False]

opposite = []
for answer in answers:
  opposite.append(not answer)

print(opposite)
print([answer for answer in answers])

[False, True, True]
[True, False, False]

In [8]:
expiry_years = [2018, 2020, 2019]

renewed = [year + 4 for year in expiry_years]

print(renewed)

[2022, 2024, 2023]

In [10]:
ages = [15, 20, 19]

can_drive = [age > 18 for age in ages]

print(can_drive)

[False, True, True]

In [ ]:
#create a copy of original list as we haven't applied any changes to the original list
prices = [10, 38, 40, 58, 62]

prices_copy = [price for price in prices]

print(prices_copy)

In [15]:
# using list comprehension to create new list by applyng function
prices = [10, 22, 30, 40, 58, 62]

def halve(num):
  return num/2 #  We can only use functions that have a return statement since we're actually appending the returned value to the new list.
halved = [halve(price) for price in prices]
print(halved)

[5.0, 11.0, 15.0, 20.0, 29.0, 31.0]

In [18]:
authors = ["Virginia Wolf", "John Steinbeck"]

def add_comma(name):
  parts = name.split(" ") #split arguement seperates strings into  
  return parts[1] + ", " + parts[0]

authors_update = [add_comma(name) for name in authors]

print(authors_update)

['Wolf, Virginia', 'Steinbeck, John']

In [33]:
authors = ["Virginia Wolf", "John Steinbeck"]

def add_comma(name):
  parts = name.split(" ") #split arguement seperates strings into  
  return "first name:" " " + parts[0] + ", " + "last name:" " "+ parts[1]

authors_update = [add_comma(name) for name in authors]

print(authors_update)

['first name: Virginia, last name: Wolf', 'first name: John, last name: Steinbeck']

In [34]:
words = ["apple", "aligator", "abracadabra", "avatar"]

def has_double_a(word):
  count = word.count("a")
  return count == 2

double_a = [has_double_a(word) for word in words]

print(double_a)

[False, True, False, False]

In [38]:
scores = [40, 12, 83]

def passed(score):
  with_bonus = score + 10
  return with_bonus > 90 

passing_scores = [passed(score) for score in scores]

print(passing_scores)

[False, False, True]

In [39]:
# We can use list comprehensions to create a new list by filtering elements of an existing one, like creating a list of high_scores.

scores = [12, 47, 30, 29, 19, 35]
high_scores = [score for score in scores if score > 20]
print(high_scores)

websites = ["nytimes.com", "lemonde.fr", "economist.com"]
french = [website for website in websites
 if website.count(".fr") > 0]
print(french)

humidity_percent = [40, 35, 20, 70]
ideal = [level for level in humidity_percent if level >= 30 and level <= 50]
print(ideal)

[47, 30, 29, 35]

In [42]:
# Python allows us to use negative indexing to retrieve values from the end of an indexable object, such as a list.

scores = [4.5, 5, 3, 4, 3.5, 4]
latest = scores[-1]
print(latest)

4

In [45]:
# The del keyword allows us to delete objects, or items within a data structure.

winners = ["John", "Helen", "Sigmund", "Olaf"]
del winners[-1]
print(winners)

product = {'category': 'book',
           'price': 4.99,
           'in_shop': True}
del product['in_shop']
print(product)

user = ("Joe", "Paris", 27)
name = user[0]
age = user[-1]
message = f"{name} {age}"
print(message)

['John', 'Helen', 'Sigmund']
{'category': 'book', 'price': 4.99}
Joe 27

In [52]:
# slicing acts like a filter
letters = ["A", "B", "C", "D", "E"]
print(letters[3:]) # retrieve values starting from index 3 i.e. 4th pos 
print(letters[-3:]) # retrieve values starting from 3rd last position i.e. from value c onwards

print(letters[:2]) # retrieve values starting from index 0 and stop at index 2
print(letters[2:4]) # retrieve values starting from index 2 and stop at index 4

['D', 'E']
['C', 'D', 'E']
['A', 'B']
['C', 'D']

In [56]:
# We can also use a format with two colons, [start:stop:step] , where step determines how Python steps between start and end.

alphabet = ["A", "B", "C", "D", "E", "F"]
print(alphabet[1:6:2]) # start at 1st index, stop at 6th index with increments of 2 - notice list only goes up to 5
print(alphabet[::2]) #start 0, stop never, increment 2
print(alphabet[5:2:-1]) #start last index, stop 2nd index, increment -1 so we work backwards

['B', 'D', 'F']
['A', 'C', 'E']
['F', 'E', 'D']

In [57]:
ratings = [3, 4, 2, 5, 1, 5, 4, 5]
print(ratings[-1:2:-2]) #start end, stop at 2nd index, increment of -2

[5, 5, 5]

### Classes

In [ ]:
#Creating new variables for each of the different configurations of a computer would take a lot of time and could lead to mistakes.

computer1_size= "15"
computer1_storage = "1TB"

computer2_size = "13"
computer2_storage = "256GB"

computer3_size = "27"
computer3_storage = "2TB"

computer4_size = "21"
computer5_storage = "128"

In [1]:
# To help us group data and functionality, we create a class. 
# A class is a template that we use to create many similar but distinct things.
# We can create different configurations without having to create individual variables like size and storage each time.

class Computer:
  def __init__(self, size, storage):
    self.size = size
    self.storage = storage

  def print_specs(self):
    print("Display size: " + self.size)
    print("Storage size: " + self.storage)

low_spec = Computer("13", "256GB")
high_spec = Computer("27", "1TB")

print("Low Spec Computer:")
low_spec.print_specs()

print("High Spec Computer:")
high_spec.print_specs()

Low Spec Computer:
Display size: 13
Storage size: 256GB
High Spec Computer:
Display size: 27
Storage size: 1TB

In [3]:
# To access a class variable, we add the instance name, a ., 
# and the name of the variable we want. Like skippy.wagging_tail here.
class Virtual_Pet:
  wagging_tail = True
  color = "brown"

skippy = Virtual_Pet()
print(skippy.wagging_tail)
print(skippy.color)

True
brown

In [4]:
#defining a class
class Virtual_Pet:
  wagging_tail = True

In [5]:
#Create an instance of the Pokemon class and store it in a variable called 'pokemon'.
class Pokemon:
  name = "squirtle"
pokemon = Pokemon() #instance of Pokemnon class stored in variable pokemon

In [8]:
# self is a special keyword that we need to use inside our class definition. 
# We pass self as the first parameter to all the methods we add.
# We use self as a parameter in the class methods so that we can 
# access the class variables like color and legs inside the methods.

class Virtual_Pet:
  color = "brown"
  legs = 4

  def bark(self):
    print("Bark")

  def display_color(self):
    print(self.color)

  def display_legs(self):
    print(self.legs)

rocky = Virtual_Pet()
rocky.display_color()
rocky.display_legs()

brown
4

In [ ]:
class Virtual_Pet:
  color = "brown"
  legs = 4

  def bark(self):
    print("Bark")

  def display_color(self):
    print(self.color)

## practice questions

In [2]:
miles = 500
kilometers = miles*1.609344
print (kilometers)

804.672

In [3]:
#if is night lights will be on and vice versa
is_day = False
lights_on = not is_day
print("Daytime?")
print(is_day)
print("Lights_on?")
print(lights_on)

Daytime?
False
Lights_on?
True

In [4]:
#if jeans sold is equal to target then we hit target, will print hit jeans sale target: True jeans in stock: True
stock = 600
jeans_sold = 500
target = 500

target_hit = jeans_sold == target #boolean
print("Hit jeans sale target: ")
print(target_hit)

current_stock = stock - jeans_sold
in_stock = current_stock != 0 #boolean
print("Jeans in stock:")
print(in_stock)

Hit jeans sale target:
True
Jeans in stock:
True

In [6]:
#heart rate is neither less than 60 or above 100 so false, false
heart_rate = 77
too_low = heart_rate < 60
too_high = heart_rate > 100

print("Heart rate low:")
print(too_low)
print("Heart rate hight:")
print(too_high)

Heart rate low:
False
Heart rate hight:
False

In [7]:
#no dupliate entries true, same average grade true, id_1 has higher test score true
id_1 = "#4"
average_grade_1 = "A"
test_score_1 = 90

id_2 = "#5"
average_grade_2 = "A"
test_score_2 = 70

no_duplicates = id_1 != id_2
print("no duplicate entries:")
print(no_duplicates)

same_average = average_grade_1 == average_grade_2
print("same average grade:")
print(same_average)

higher_score = test_score_1 > test_score_2
print("id_1 has a higher score:")
print(higher_score)

no duplicate entries:
True
same average grade:
True
id_1 has a higher score:
True

In [8]:
#once a week != daily so highly active user false, intensity = low so high intensity false
frequency = "once a week"
intensity = "low"

highly_active = frequency == "daily"
print("highly active user:")
print(highly_active)

high_intensity = intensity =="high"
print("high intensity activity:")
print(high_intensity)

highly active user:
False
high intensity activity:
False

In [9]:
#user added is true so only database has user Becca 
user_added = True
user = "Becca"

if user_added == False:
    print(f"Add {user} to database")
    user_added = True
print(f"Database has user: {user}")

Database has user: Becca

In [10]:
# number is less than lower limit so outlier is true so 8 is an outlier
upper_limit = 91
lower_limit = 24
outlier = False
number = 8

if number > upper_limit:
    outlier = True
if number < lower_limit:
    outlier = True
if outlier == True:
    print(f"{number} is an outlier")

8 is an outlier

In [3]:
#ride_type is black so ride price = 37.9, credits >0 so final price is 37.9 - 4 = 33.9
ride_type = "Black"
credits = 4

ride_price = 0
final_price = 0

if ride_type == "DooberX":
    ride_price = 20.5
elif ride_type == "Black":
    ride_price = 37.9
else:
    ride_price = 18.7
    
print("ride price:")
print(ride_price)

if credits > 0:
    final_price = ride_price - credits

print("final price:")    
print(final_price)

ride price:
37.9
final price:
33.9

In [5]:
#int shipping is true so shipping cost is 15, so int base cost applied 
#total is not <= 50 or 100 so shipping_cost +=5, shipping cost: 15 + 5 = 20

international_shipping = True

total = 150
shipping_cost = 0

if international_shipping:
    shipping_cost += 15
    print("internaitonal base cost applied")

if total <= 50:
    shipping_cost += 20
elif total <=100:
    shipping_cost +=15
else:
    shipping_cost +=5

print(f"shipping cost: {shipping_cost}")

internaitonal base cost applied
shipping cost: 20

In [9]:
#initial amount 100, year 1: account 100.4, year 2:....
account = 100
interest_rate = 0.004
years = 3

print(f"initial amount: {account}")

counter = 1
while counter <= years:
    accrued_interest = account * interest_rate
    account += accrued_interest
    print(f"year {counter}: {account}")
    counter += 1

initial amount: 100
year 1: 100.4
year 2: 100.80160000000001
year 3: 101.20480640000001

In [1]:
#print web usl / coupon link / 50 / 0 (do this 4 times) for 4 coupons created
base = "www.homeflix.com"
coupon = "signup/coupon"
discount = 50
amount = 4

for num in range(amount):
    print(f"{base}/{coupon}/{discount}/{num}")

print(f"{amount} coupons created")

www.homeflix.com/signup/coupon/50/0
www.homeflix.com/signup/coupon/50/1
www.homeflix.com/signup/coupon/50/2
www.homeflix.com/signup/coupon/50/3
4 coupons created

In [2]:
#new flavours then list al flavours, consumer ratings ans list all ratings, etc.
flavours = ["cinamon", "pumpkin", "apple", "pie"]
print("new flavours:")
print(flavours)

ratings = [4, 2.5, 3]
print("consumer ratings:")
print(ratings)

passed = [True, False, True]
print("release:")
print(passed)

new flavours:
['cinamon', 'pumpkin', 'apple', 'pie']
consumer ratings:
[4, 2.5, 3]
release:
[True, False, True]

In [6]:
#change 1st and 2nd value in apple_stocks list to 310 and print them and then print 289.23
apple_stocks = [298.18, 304.18, 289.23]

apple_stocks[0] = 310
print("latest value:")
print(apple_stocks[0])

apple_stocks[1] = 310
print("highest value:")
print(apple_stocks[1])

print("lowest value")
print(apple_stocks[2])

latest value:
310
highest value:
310
lowest value
289.23

In [7]:
#12 is highest for every number in user scores if its greater than 12 it is highest so 42 will be highest but then becomes 55 then 100
# so 100 will be highest
user_scores = [12, 42, 55, 100, 11, 22]
highest = user_scores[0]

for score in user_scores:
    if score > highest:
        highest = score

print(f"highest score: {highest}")

highest score: 100

In [13]:
#inserts 90 at the beggining of the list then pop removes last entry
humidity_level = [87, 83, 89, 88, 87]

humidity_level.insert(0,90) #inserts replaces value at (nth, xx) placement
print(humidity_level)

humidity_level.pop() #deletes last value in list
print(humidity_level)

humidity_level.append(92) #append adds value at end of list
print(humidity_level)

humidity_level.insert(4,66) #inserts replaces value at (nth, xx) placement
print(humidity_level)

humidity_level.pop(6) #deletes selected value in list
print(humidity_level)

[90, 87, 83, 89, 88, 87]
[90, 87, 83, 89, 88]
[90, 87, 83, 89, 88, 92]
[90, 87, 83, 89, 66, 88, 92]
[90, 87, 83, 89, 66, 88]

In [11]:
sizes = [7340, 2117, 22300, 31700, 1679, 1014, 23000, 9910, 685]

largest = max(sizes)

print("largest lake in sq mi:")
print(largest)

smallest = min(sizes)

print("9th largest lake in sq mi:")
print(smallest)

difference = largest - smallest
print("difference between lakes in sq mi:")
print(difference)

largest lake in sq mi:
31700
10th largest lake in sq mi:
685
difference between lakes in sq mi:
31015

In [12]:
#sorts customer in alphabetical order in the list, sorts counter from smallest first, prints ariah visit counter 4 
customers = ["felip", "miranda", "ariah", "lawrence", "shahid"]
free_counters = [11,20,14,6,4]
customers.sort()
free_counters.sort()
customer = customers[0] #indexing in python starts at 0 for first value in the list
counter = free_counters[0]

print(customer)
print("visit counter:")
print(counter)

ariah
visit counter:
4

In [14]:
#size of both teams are same = 3, prints game on, rounds left, 3
team_1 = ["mia", "lisa", "liam"]
team_2 = ["james", "ty" ,"ava"]

size_1 = len(team_1)
size_2 = len(team_2)

if size_1 != size_2:
    print("teams must be the same size")
else:
    print("game on!")

if size_1 ==3:
    print("rounds left: 3")
elif size_1 ==2:
    print("rounds left: 2")
else:    
    print("final round!")

game on!
rounds left: 3

In [1]:
#count the number of 5 and 1 star ratings and create a new list for this in amount as amounts, print these
ratings = [5,5,3,1,1,1,4,5,3,5]
five_star = ratings.count(5)
one_star = ratings.count(1)
amounts = [five_star, one_star]
print("five star ratings:")
print(amounts[0])
print("one star ratings:")
print(amounts[1])

five star ratings:
4
one star ratings:
3

In [1]:
#74 wbecams in stock, 18 customer orders 56 available
stock = 74
item = "webcams"
orders = 18

print(f"{stock} {item} in stock")

print(f"{orders} customer orders")

print(f"{stock - orders} available")

74 webcams in stock
18 customer orders
56 available

In [2]:
bill = 20
tip_percentage = 0.15
tax_percentage = 0.067

tip = bill * tip_percentage
print(f"Tip: {tip}")

tax = bill * tax_percentage
print(f"Tax: {tax}")

total = bill + tip + tax
print(f"Total: {total}")

Tip: 3.0
Tax: 1.34
Total: 24.34

In [5]:
# game on player 1 sam, player 2 alex, round 1 alex wins with 13 to 10, round 2 sam defeats alex by 15 points
player_1 = "Sam"
player_2 = "Alex"
current_round = 1

print("Game on!")
print(f"player 1: {player_1}")
print(f"player 2: {player_2}")
print("--------------------------") 

print(f"Round {current_round}!")
player_1_score = 10
player_2_score = 13
print(f"{player_2} wins with {player_2_score} to {player_1_score}")
print("--------------------------") 

print(f"Round {current_round + 1}!")
player_1_score = 20
player_2_score = 5
print(f"{player_1} defeats {player_2} by {player_1_score - player_2_score} points")

Game on!
player 1: Sam
player 2: Alex
--------------------------
Round 1!
Alex wins with 13 to 10
--------------------------
Round 2!
Sam defeats Alex by 15 points

In [6]:
# splitting strings using variable name.split and replacing using .replace
sequences = "tatgctttcc#tataggtctg#ctattcaatg"
dna_list = sequences.split("#") # split seperates text whenever there is a # 
print(dna_list)

for dna in dna_list:
  rna = dna.replace("t", "u") # replace all the t's with u's
  print("DNA: " + dna + " -> " + "RNA: " + rna) #print dna which is the split string lists int he first part then print rna whihc is replpacing the t's with the u's

['tatgctttcc', 'tataggtctg', 'ctattcaatg']
DNA: tatgctttcc -> RNA: uaugcuuucc
DNA: tataggtctg -> RNA: uauaggucug
DNA: ctattcaatg -> RNA: cuauucaaug

In [7]:
# there is a name in name_box hence True so Alice Bentall 
# age is an integer (real number), student is false, turn subscription into float, marketing is false
# profile is Alice Bentall, 20
name_box = "Alice Bentall" 
age_box = "20"
uni_box = ""
subs_box = "1.99"
mkt_box = "0"
# all these are strings ^^^
name_entered = bool(name_box)
if name_entered:
 name = name_box
else:
 name = "Unknown"

age = int(age_box)
student = bool(uni_box)
subscription = float(subs_box)
marketing = bool(int(mkt_box))

profile = name + ', ' + str(age)
print(profile)

Alice Bentall, 20

In [8]:
# def = function which converts 1,2,3 to .----, ..---, ...-- respectively
# prints 1 2 2 5 0 to .---- ..--- ..--- 5 0 

def convert_to_morse(code): #defined code = lock_code
  code = code.replace("1", ".----") # replace 1 with .----
  code = code.replace("2", "..---")
  code = code.replace("3", "...--")
  return code

lock_code = "1 2 2 5 0" #this is the input to the function (what we're testing)

print(f"Initial code: {lock_code}")
morse = convert_to_morse(lock_code)
print(f"Morse code: {morse}")

Initial code: 1 2 2 5 0
Morse code: .---- ..--- ..--- 5 0

In [9]:
# define a function that splits the fare based on the fare price, passengers and feature cost
# splitting the $36 fare between 3 passengers adding a $0.5 feature cost, each pays $12.5 
def split_fare(fare, passengers, feature_cost): # defined fare = fare_cost, passengers = passengers, feature_cost = feature_cost
  
  share = fare/passengers
  print(f"Splitting the ${fare_cost} fare between {passengers} passengers...")

  shared_cost = share + feature_cost
  print(f"Adding a ${feature_cost} feature cost...")
  return shared_cost


fare_cost = 36
passengers = 3
feature_cost = 0.5

shared_cost = split_fare(fare_cost, passengers, feature_cost)
  
print(f"Each pays: ${shared_cost}")

Splitting the $36 fare between 3 passengers...
Adding a $0.5 feature cost...
Each pays: $12.5

In [10]:
# define a function that says if op = + then add num, if op = - then minus num, if op = * then times num
# print 5*10=50
        
def calculator(num_1, num_2, op): # num_1 = 5, num_2 = 10, op = * (multiply)
  result = 0

  if op == "+":
    result = num_1 + num_2

  elif op == "-":
    result = num_1 - num_2

  elif op == "*":
    result = num_1 * num_2

  print(f"{num_1} {op} {num_2} = {result}")

calculator(5, 10, "*")

5 * 10 = 50

In [11]:
# define a function that identifies if may has common friends with joe and count them so this is 1 (Alex) so True
# next arguement is True as Alex is found in joe friends
# is common is True as Alex is in both may and joe
# returns is common
# alex is a common friend True

def is_common_friend(user, friends_a, friends_b): # user = friends_joe, friends_a = friends_may, friends_b = common_alex

  is_friend_a = friends_a.count(user) >= 1
  is_friend_b = friends_b.count(user) >= 1

  is_common = is_friend_a & is_friend_b # True

  return is_common

friends_joe = ["Sam", "Alex", "Zoe"]
friends_may = ["Kim", "Alex", "Cy", "Ted"]
common_alex = is_common_friend("Alex", friends_joe, friends_may)
print(f"Alex is a common friend: {common_alex}")

Alex is a common friend: True

In [12]:
# function that creates an empty schedule list and for each iteration adds the classes in order of times
# so Algebra : 9am, Hisotry: 11am etc...
# prints Monday schedule: all these options..

def schedule_classes(classes, times): # classes = classes, times = times
  schedule = []

  index = 0
  while index < len(classes):
    scheduled_class = classes[index] + ": " + times[index]
    schedule.append(scheduled_class) # appends scheduled class so adds another lesson and time
    index += 1

  return schedule

classes = ["Algebra", "History", "Biology", "Swimming"]
times = ["9a.m.", "11a.m.", "1p.m.", "3p.m."]
schedule = schedule_classes(classes, times)
print(f"Monday's schedule: {schedule}")

Monday's schedule: ['Algebra: 9a.m.', 'History: 11a.m.', 'Biology: 1p.m.', 'Swimming: 3p.m.']